<h1> Log in here: </h1>

<%= form_tag(login_path) do %>
  <%= text_field_tag 'email', nil, placeholder: 'Email' %><br><br>
  <%= text_field_tag 'password', nil, placeholder: 'Password' %><br><br>
  <%= submit_tag "Log In" %>
<% end %>
