<div style="padding:20px;">
<h1><%= @park.name %></h1>
<p><%= @park.location %></p>
<div><%= button_to "Add a Park Feature", new_park_feature_path(@park) , class: 'btn btn-info btn-md float-xl-none' %></div>
</div>
