<h1 class="text-center"> Welcome to The Best Dog Parks </h1>
<h3 class="text-center"> ~ a place for you to keep track of the best parks for your pooch ~</h3><br>
<div><%= button_to "Sign Up", new_user_path, class: 'btn btn-info btn-md btn-block' %></div><br>
<div><%= button_to "Sign In", login_path, class: 'btn btn-info btn-md btn-block' %></div><br>
<div><%= button_to "Sign In with Google", "auth/google_oauth2", class: 'btn btn-info btn-md btn-block' %></div><br>
<img class="mx-auto d-block" src="/dog-park.jpg" alt="Dog Park" />
