<h1 class="text-center"><%= current_user.name %>'s Favorite Features </h1>

<h3>Feature Rating of 5 stars:</h3>
<ul>
  <% current_user.favorite_features.each do |fav_feature| %>
   <li><%= link_to fav_feature.name, feature_path(fav_feature) %> (Found at <%= link_to fav_feature.parks.first.name, park_path(fav_feature.parks.first) %>)</li>
  <% end %>
</ul>
