<div style="padding:20px;">
  <h1 class="text-center"><%= "#{current_user.name}'s Park Features" %></h1>
  <h3><%= link_to "Show My Features", features_path, :id => "load_features_index" %></h3>
  <div class="features_index"></div>
</div>
